nav.navbar.navbar-expand-lg.navbar-light.bg-light
a.navbar-brand(href='/') Express Checkpoint

.collapse.navbar-collapse(id='navbarSupportedContent')
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(style="text-decoration: none" href='/') Home
      li.nav-item
        a.nav-link(style="text-decoration: none" href='/service') Service
      li.nav-item
        a.nav-link(style="text-decoration: none" href='/contact') Contact 